__pycache__/
*.pyc
*.pyo
# Entorno virtual
venv/

# Archivos de configuración sensibles
.env
*.env

# Archivos de log
*.log
solver_log.txt

# Archivos de bases de datos temporales
*.sqlite3
*.db

# Archivos de imágenes generadas
*.png

# Otros
.DS_Store